    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        background-color: #6e6e6e;
        overflow-x: hidden;
        padding-top: 40px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        
    }

    .sidenav a:hover {
        color: #000;
        background-color: #fff;
    }


    .main {
        margin-left:0px;
        /* Same as the width of the sidenav */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
        margin-top: 80px;
     
    }
    .sidenav {
    	font-family: Microsoft JhengHei;
    }
    .navtop{
        background-color:#4f4f4f;
        height: 85px; 

    }
    .navbar-brand{
        font-size: 40px;
    }
    .navlogo{
        position: fixed;
        
    }

    .navlogo img{
        height: 60px;
        width: 60px;
        margin-right: 10px;
            
    }
